* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: $base-fontSize;
}

body {
  font-family: PoppinsRegular, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(0, 101, 196);
}

@font-face {
  font-family: PoppinsRegular;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: PoppinsBold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
