body {
  width: calc(100vw - #{$space-25});
  margin: $space-2 auto;
  display: grid;
  grid-template-columns: 1fr;
  background: url("../assets/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;

  @include mediaMd {
    width: calc(100vw - #{$space-8});
  }

  @include mediaLd {
    width: calc(100vw - #{$space-8});
    height: 100vh;
    overflow-y: hidden;
  }

  header {
    p {
      @include p2;
      color: #666666;
    }
  }

  main {
    width: 100%;
    height: max-content;
    margin-top: $space-3;
    //margin-bottom: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    grid-column-gap: $space-1;
    align-items: center;

    @include mediaLd {
      margin-top: $space-2;
      margin-bottom: auto;
    }

    .main-content {
      width: 96%;
      margin-top: $space-1;
      margin-bottom: $space-4;

      @include mediaMd {
        width: 72%;
        margin-bottom: 0;
      }

      .main-text {
        margin-bottom: $space-4;

        .intro-text {
          margin-bottom: $space-2;

          .welcome-text {
            @include h1;
            margin-bottom: 0.48rem;
          }

          .welcome-aux {
            @include p1;
            color: #666666;
          }
        }

        .intro-desc {
          color: rgb(32, 32, 32);
        }
      }

      .cta {
        @include prim-btn;
      }
    }

    nav {
      width: 100%;
      margin-bottom: $space-4;

      @include mediaMd {
        margin-top: $space-3;
      }

      @include mediaLd {
        margin-top: 0;
      }

      .nav-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
        grid-gap: $space-2;

        @include mediaMd {
          grid-template-columns: repeat(2, 1fr);
        }

        .nav-item {
          @include p2;
          font-weight: bold;
          list-style-type: none;
          padding: $space-25;
          border-radius: $space-1;
          background: #ffffff;
          border: 0.45px solid #eaeaea;
          box-shadow: 2px 4.5px 24px 2px rgba(0, 0, 0, 0.035);

          @include mediaMd {
            padding: $space-3;
          }

          .nav-link {
            width: max-content;
            margin: auto;
            text-align: center;
            display: flex;
            align-items: center;
            color: #020b12;

            img {
              margin-right: 0.56rem;
              width: $space-1;
            }
          }
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: flex-end;
    margin-bottom: 4%;
    @include p2;
    color: #666666;
    padding-bottom: $space-1;

    @include mediaLd {
      // position: absolute;
      //bottom: $space-1;
      //margin-bottom: $space-1;
    }
  }
}
